.container {
    width: 100%;
}

.container_header {
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
}

.container_image {
    width: 50px;
    height: px;
}

.container_subscript {
    
}

a {
    text-decoration: none;
}
